{% extends 'base.html.twig' %}
{% block title %}Read: news{% endblock %}
{% block body %}



    <div>
        <h1>Article</h1>
        

    </div>
     
    {% for value in articles %}
    
    
    {{value.content}}
    <br>
    
     {{value.id}}
    <br>
   
    
  
    
    {% endfor %}
     {{articles.1.content}}
      
    
{% endblock %}



