{% extends 'base.html.twig' %}
{% block title %}Read: Все новости{% endblock %}
{% block body %}



    <div>
        <h1>Article</h1>
        

    </div>
    
    {% for allNews in articles %}
    {{article1.title}}
    <br>
    {% endfor %}
    
{% endblock %}



